.my-container{
    position: relative;
}


#my-id{
    width: 60rem;
    height: 28rem;
    margin: 10rem auto;
}
#my-id img{
    object-fit: cover;
    width:100%;
    height: 100%;
    display: none;
}

#my-id img.active {
    display: block;
}

#upButton{
    position: absolute;
    right: 38rem;
    top:1rem;
    border-radius: 20px;
}

#downButton{
    position: absolute;
    right: 38rem;
    bottom:1rem;
    border-radius: 20px;
}